.relative {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content: center;
  flex-wrap: wrap;
  top: 5%;
  background-color: #f2f2f2;
  border-radius: 10px;
  width: 62%;
  height: 60%;
  padding: 10px;
  position: relative;
}

.hotel {
  border: white solid 4px;
  background-color: white;
  border-radius: 20px;
  margin: 0.5em;
  width: 25%;
}

.hotel img {
  width: 150px;
  display: flex;
  align-items: center;
}

img.rounded-corners {
  max-width: 100%;
  height: auto;
  border-radius: 15px 15px 0px 0px;
}

.section {
  float: left;
  width: 50%;
}

.container {
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.Afficherplus {
  color: black;
  text-decoration: none;
}

.stars {
  padding-left: 5%;
  display: flex;
}

.stars img {
  width: 30px;
}

.star {
  font-size: 10px;
}

.filled {
  color: #0065fc;
}

.empty {
  color: grey;
}
