/*Main Elements of the page, header */

@media screen and (max-width: 780px) {
  #bloc_page {
    margin: auto;
    width: 98%;
  }
}

@media (max-width: 600px) {
  nav li {
    display: inline;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    margin: 5%;
  }

  nav {
    display: flex;
    text-align: left;
    width: 100%;
  }

  nav ul {
    flex-direction: row;
  }

  nav li:first-child {
    position: relative;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 600px) {
  .img {
    width: 100%;
    position: absolute;
    margin: 5%;
    top: 2%;
  }

  h1 {
    font-size: 1.6em;
    text-align: left;
    margin: 5%;
  }

  h2 {
    font-size: 1.1em;
  }

  h3 {
    font-size: 1em;
  }

  h5 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 5%;
  }
}

@media only screen and (min-width: 600px) {
  .loupe {
    display: none;
  }
  .button1 {
    display: inline;
  }
}

@media only screen and (max-width: 600px) {
  .button1 {
    display: none;
  }
  .loupe {
    display: inline;
  }
}

@media only screen and (max-width: 600px) {
  .location {
    margin: 5%;
    width: 331px;
    height: 51px;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 15px;
    align-content: space-between;
  }

  .mapmarker {
    width: 45px;
    height: 45px;
    font-size: 2em;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
  }

  #Rechercher {
    width: 230px;
    height: 100%;
    font-size: 1em;
  }

  .loupe {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #0065fc;
    border-radius: 15px;
    width: 51px;
    height: 51px;
    font-size: 1.5em;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .info {
    margin-left: 5%;
    align-content: space-around;
  }

  h6 {
    font-size: 1.1em;
    font-weight: normal;
  }
}

@media only screen and (max-width: 600px) {
  .filter {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: left;
    align-items: flex-start;
    margin: 5%;
  }

  ul {
    width: auto;
    flex-direction: column;
    justify-content: left;
    align-content: left;
  }
}

/* Element Hebergement & Populaires */
@media (max-width: 600px) {
  .hotel {
    width: 100%;
  }

  .big-container {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  aside {
    order: -1;
  }

  .relative {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0;
    border-radius: 0;
    padding: 0;
  }

  img.rounded-corners {
    width: auto;
  }

  .Hébergements {
    font-size: 1.5em;
    margin-left: 5%;
  }
}

/* Element Populaires */
@media only screen and (max-width: 600px) {
  aside.box {
    display: flex;
    padding: 0;
    margin-left: 0;
    border-radius: 0;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  img.corner {
    width: 100%;
    height: auto;
    align-items: center;
    margin: 0;
  }

  .information {
    width: 60%;
    margin: 0;
    align-content: flex-start;
    line-height: normal;
  }

  .textchart {
    display: flex;
    align-content: space-between;
    font-size: 1.5em;
    margin-left: 5%;
  }

  .line {
    align-items: flex-end;
  }
}

/* Element Activités */
@media only screen and (max-width: 600px) {
  .tovisit {
    width: 100%;
  }

  .Activités {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .Marseille {
    font-size: 1.5em;
    margin-left: 5%;
  }

  .mobilesize {
    width: 336px;
    height: 134px;
    border-radius: 15px 15px 0px 0px;
  }
}

/* Footer */
@media only screen and (max-width: 600px) {
  footer {
    display: flex;
    padding: 0;
    margin-top: 250px;
    float: none;
    width: 100%;
    font-size: 1.2em;
  }

  .containerfooter {
    width: 55%;
    flex-direction: column;
    align-self: start;
    justify-content: left;
    margin-left: 0;
  }

  .column1of3,
  .column2of3,
  .column3of3 {
    width: 100%;
    margin-left: 10%;
  }
}
