/*Main Elements of the page, header */

/*Desktop Query*/
@media screen and (max-width: 780px) {
  #bloc_page {
    margin: auto;
    width: 98%;
  }
}

/*Tablet Query*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  #bloc_page {
    margin: auto;
    width: 98%;
  }
}

/*Mobile Query*/
@media screen and (max-width: 480px) {
  #bloc_page {
    margin: auto;
    width: 98%;
  }
}

@media only screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    margin-left: 5%;
  }

  nav {
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-content: space-between;
  }

  nav a {
    font-size: 1em;
    align-content: flex-start;
    justify-content: space-between;
    align-content: space-between;
  }

  nav a:hover {
    border-bottom: solid 3px #0065fc;
    border-top: 0;
    padding-top: 0;
    padding-bottom: 1.5em;
  }

  nav a:first-child {
    margin-top: 20%;
    margin-right: 30px;
    padding-bottom: 20px;
  }

  nav a:nth-child(2) {
    margin-top: 20%;
    margin-left: 10px;
    padding-bottom: 20px;
  }

  nav a:nth-child(3) {
    order: 1;
    font-weight: 600;
    margin-right: 5px;
    padding: 0;
  }
}

/*Main Elements of the font, logo */

@media only screen and (max-width: 600px) {
  .img {
    width: 100%;
    position: absolute;
    margin: 5%;
    top: 2%;
  }

  h1 {
    font-size: 1.4em;
    font-weight: bold;
    text-align: left;
    line-height: 30px;
    margin: 5%;
  }

  h2 {
    font-size: 1.1em;
  }

  h3 {
    font-size: 1em;
  }

  h5 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 5%;
  }
}

/*Main Elements of rechercher*/

@media only screen and (min-width: 600px) {
  .loupe {
    display: none;
  }
  .button1 {
    display: inline;
  }
}

@media only screen and (max-width: 600px) {
  .button1 {
    display: none;
  }
  .loupe {
    display: inline;
  }
}

@media only screen and (max-width: 600px) {
  .location {
    margin: 5%;
    width: 331px;
    height: 51px;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 15px;
    align-content: space-between;
  }

  .mapmarker {
    width: 45px;
    height: 45px;
    font-size: 1.5em;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
  }

  #Rechercher {
    width: 230px;
    height: 100%;
    font-size: 1em;
    border: 2px solid #f2f2f2;
  }

  .loupe {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #0065fc;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    font-size: 1.1em;
    align-items: center;
    margin-left: -15%;
  }
}

@media only screen and (max-width: 600px) {
  .info {
    margin-left: 5%;
    align-content: space-around;
  }

  h6 {
    margin-right: 5%;
    font-size: 1.1em;
    font-weight: normal;
    text-align: justify;
  }
}

/*Main Elements of the filter */

@media only screen and (max-width: 600px) {
  .filter {
    display: flex;
    flex-flow: column;
    justify-content: left;
    align-items: flex-start;
    margin: 5%;
  }

  ul {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .item1 li {
    width: 60%;
    flex: 1;
    justify-content: center;
    text-align: center;
    border: solid #f2f2f2 1px;
  }

  .item1 a {
    font-size: 0.8em;
  }

  .moneybill,
  .person,
  .heart,
  .dog {
    display: flex;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
  }

  .item1 li:nth-child(1) {
    width: 50%;
  }

  .item1 li:nth-child(2) {
    width: 50%;
    align-self: flex-end;
  }
}

/* Element Hebergement & Populaires */
@media (max-width: 600px) {
  .hotel {
    width: 100%;
  }

  .big-container {
    flex-direction: column;
    width: 100%;
  }

  aside {
    order: -1;
  }

  .relative {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0;
    border-radius: 0;
    padding: 0;
  }

  img.rounded-corners {
    width: auto;
  }

  .Hébergements {
    font-size: 1.5em;
    margin-left: 5%;
  }
}

/* Element Populaires */
@media only screen and (max-width: 600px) {
  aside.box {
    display: flex;
    padding: 0;
    margin-left: 0;
    border-radius: 0;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  img.corner {
    width: 100%;
    height: 124px;
    align-items: center;
    margin: 0;
    object-fit: contain;
    vertical-align: sub;
    border-radius: 15px 0px 0px 15px;
  }

  .information {
    width: 60%;
    margin: 0;
    line-height: 20px;
    align-content: flex-start;
  }

  .textchart {
    display: flex;
    align-content: space-between;
    font-size: 1.5em;
    margin-left: 5%;
  }

  .line {
    align-items: flex-start;
    justify-content: space-around;
  }
}

/* Element Activités */
@media only screen and (max-width: 600px) {
  .tovisit {
    width: 100%;
  }

  .Activités {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .Marseille {
    font-size: 1.5em;
    margin-left: 5%;
  }

  .images {
    object-fit: cover;
    object-position: center;
    width: 334px;
    height: 134px;
    border-radius: 15px 15px 0px 0px;
  }
}

/* Footer */
@media only screen and (max-width: 600px) {
  footer {
    display: flex;
    padding: 0;
    margin-top: 20px;
    float: none;
    width: 100%;
    font-size: 1.2em;
  }

  .containerfooter {
    width: 55%;
    flex-direction: column;
    align-self: start;
    justify-content: left;
    margin-left: 0;
  }

  .column1of3,
  .column2of3,
  .column3of3 {
    width: 100%;
    margin-left: 10%;
    line-height: 3px;
  }
}
