.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2px;
  background-color: #f2f2f2;
  border: 3px solid #f2f2f2;
  border-radius: 10px;
  width: 26%;
  margin-left: 2%;
  left: 70%;
  right: 10%;
}

.aside {
  float: right;
  margin: 0 1.5%;
  width: 30%;
}

.one {
  border: 3px solid white;
  border-style: solid;
  background-color: white;
  border-radius: 10px;
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  line-height: 11px;
  box-shadow: 3px 3px 3px lightgray;
}

.two {
  border: 3px solid white;
  border-style: solid;
  background-color: white;
  border-radius: 10px;
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  box-shadow: 3px 3px 3px lightgray;
}

.three {
  border: 3px solid white;
  border-style: solid;
  background-color: white;
  border-radius: 10px;
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  box-shadow: 3px 3px 3px lightgray;
}

img.corner {
  border-radius: 10px 0px 0px 10px;
  width: 86px;
  height: 91px;
  padding: 3px;
  object-fit: contain;
  vertical-align: sub;
  align-items: center;
}

.after-box {
  clear: left;
}

.line {
  margin: 80px;
}

.textchart {
  margin: 5px;
}

.populaires {
  text-align: start;
}

.information {
  text-align: start;
  margin: 0;
}

.lespluspopulaires {
  margin: 5px;
}
