.box {
  flex: 1.2;
  position: absolute;
  padding: 15px;
  left: 59%;
  right: 10%;
  background-color: #f2f2f2;
  border-radius: 15px;
  margin-right: 5px;
  width: 18%;
  top: 21.9%;
  height: auto;
  align-content: space-between;
  justify-content: left;
}

.one {
  border: #f2f2f2 solid 2px;
  border-style: solid;
  background-color: white;
  border-radius: 15px;
  margin: 0.6em;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  text-align: left;
  box-shadow: 3px 3px 3px lightgray;
}

.two {
  border: #f2f2f2 solid 2px;
  border-style: solid;
  background-color: white;
  border-radius: 15px;
  margin: 0.6em;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  text-align: left;
  box-shadow: 3px 3px 3px lightgray;
}

.three {
  border: #f2f2f2 solid 2px;
  border-style: solid;
  background-color: white;
  border-radius: 15px;
  margin: 0.6em;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  text-align: left;
  box-shadow: 3px 3px 3px lightgray;
}

img.corner {
  border-radius: 20px 0px 0px 20px;
  width: 100px;
  height: 100px;
  padding: 2px;
  object-fit: contain;
  vertical-align: sub;
}

.after-box {
  clear: left;
}
