.box {
  flex: 1.2;
  flex-direction: column;
  justify-content: left;
  flex-wrap: wrap;
  margin-right: 2em;
  padding: 1px;
  left: 70%;
  right: 10%;
  background-color: #f2f2f2;
  border: 3px solid #f2f2f2;
  border-radius: 10px;
  width: 30%;
  height: auto;
  position: relative;
}

.aside {
  float: right;
  margin: 0 1.5%;
  width: 30%;
}

.one {
  border: 3px solid white;
  border-style: solid;
  background-color: white;
  border-radius: 10px;
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  text-align: left;
  box-shadow: 3px 3px 3px lightgray;
}

.two {
  border: 3px solid white;
  border-style: solid;
  background-color: white;
  border-radius: 10px;
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  text-align: left;
  box-shadow: 3px 3px 3px lightgray;
}

.three {
  border: 3px solid white;
  border-style: solid;
  background-color: white;
  border-radius: 10px;
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  text-align: left;
  box-shadow: 3px 3px 3px lightgray;
}

img.corner {
  border-radius: 10px 0px 0px 10px;
  width: 80px;
  height: auto;
  padding: 3px;
  object-fit: contain;
  vertical-align: sub;
  align-items: center;
}

.after-box {
  clear: left;
}

.line {
  margin: 8em;
}

.lespluspopulaires {
  margin-left: 10px;
}
