#bloc_page {
  width: 60%;
  margin: auto;
}
@media screen and (max-width: 780px) {
  #bloc_page {
    margin: auto;
    width: 98%;
  }
}

@font-face {
  font-family: "Raleway";
  src: url("Fonts/Raleway-VariableFont_wght.ttf") format("truetype"),
    url("Fonts/Raleway-Regular.ttf") format("truetype"),
    url("Fonts/Raleway-Light.ttf") format("trutype");
  font-style: normal;
  font-weight: normal;
}

.logo {
  width: 50px;
  height: 46px;
}

body {
  font-family: "Raleway-VariableFont_wght";
  position: relative;
  margin: 0;
  height: auto;
  min-height: 100%;
}

h1 {
  font-size: 1em;
  font-weight: bold;
}

h2 {
  font-size: 0.8em;
  font-weight: bold;
  font-family: "Raleway-VariableFont_wght";
}

h3 {
  padding-left: 5%;
  font-size: 0.7em;
  font-weight: bold;
  font-family: "Raleway-VariableFont_wght";
}

h4 {
  padding-left: 5%;
  font-size: 0.7em;
  font-weight: bold;
  text-align: justify;
  font-family: "Raleway-VariableFont_wght";
}

h5 {
  font-size: 0.8em;
  font-weight: normal;
  font-family: "Raleway-VariableFont_wght";
}

p {
  padding-left: 5%;
  font-size: 0.7em;
  font-family: "Raleway-VariableFont_wght";
}

label {
  display: block;
  font-family: "Raleway";
}

ul i {
  color: #0065fc;
  margin: 0;
}

.button {
  text-align: left;
  margin-left: 2px;
  letter-spacing: 1px;
  cursor: pointer;
  align-content: center;
  font-size: 0.9em;
}

.button:hover {
  border-width: 1px;
}

.button:active {
  background: transparent;
  color: white;
}

.link {
  cursor: pointer;
}

.p {
  line-height: 20px;
  color: black;
  font-size: 0.4em;
  font-family: "Raleway";
}

a visited {
  text-decoration: none;
  color: black;
}

.todo {
  color: black;
}

nav {
  position: inherit;
  float: right;
  font-size: 0.9em;
  text-decoration: none;
  display: flex;
  text-align: center;
  padding-top: 1em;
}

/** HOVER */
nav ul li a:hover {
  border-top: solid 2px #0065fc;
  padding-top: 1.3em;
}

a.link {
  width: 100%;
  object-fit: cover;
  text-decoration: none;
  color: black;
}

.newpage {
  object-fit: cover;
}

a.button {
  display: inline-block;
  align-self: center;
}

.information {
  text-align: left;
}

.filter {
  display: flex;
  align-items: center;
  align-content: flex-start;
  gap: 15px;
  /* align-content: flex-start; */
}

.nopadding {
  padding: 0;
}

.element {
  background-color: #f2f2f2;
  border-radius: 25px;
  margin: 20px;
  padding: 10px 10px;
  width: 100px;
  height: 100px;
  box-sizing: content-box;
  display: block;
}

.ul {
  display: flex;
  justify-content: left;
  margin-top: 0;
  position: relative;
  list-style: none;
}

#nav {
  position: fixed;
  right: 0;
  top: 50%;
  width: 8em;
  margin-top: -2.5em;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: center;
}

nav li {
  margin-right: 15px;
}

nav a {
  text-align: center;
  font-size: 1em;
  text-decoration: none;
  background-color: #fff;
  color: #0065fc;
}

nav a:hover,
a:active {
  cursor: pointer;
  color: black;
}

.location {
  display: flex;
  justify-content: left;
}

.button1 {
  background-color: #0065fc;
  font-family: "Raleway";
  font-weight: bold;
  border: none;
  color: white;
  padding: 6px;
  text-align: left;
  display: inline-block;
  width: 85px;
  font-size: 0.7em;
  border-radius: 0px 5px 5px 0px;
}

.button1 a:hover,
a :disabled {
  cursor: pointer;
  color: black;
}

.mapmarker {
  display: flex;
  justify-content: center;
  padding: 3px;
  width: 18px;
  height: 18px;
  align-content: center;
  background-color: #f2f2f2;
  border-radius: 5px 0px 0px 5px;
}

#Rechercher {
  font-weight: bold;
  padding: 4px;
  display: inline-block;
  border-color: #f2f2f2;
  width: 120px;
  font-size: 0.7em;
  border-radius: 0px 0px 0px 0px;
}

ul.filters {
  display: flex;
  gap: 30px;
}

ul.filters li {
  display: flex;
  gap: 30px;
}

ul.filters li a {
  flex-grow: 1;
  gap: 30px;
}

.item1 {
  font-family: raleway;
}

.item1 li {
  list-style-type: none;
  text-align: center;
  border: solid #f2f2f2 2px;
  border-radius: 20px;
}

.item1 a {
  flex-wrap: wrap;
  gap: 5px;
  display: block;
  padding: 3px;
  text-decoration: none;
  color: black;
}

.item1 a:hover {
  align-items: center;
  color: #0065fc;
}

.moneybill,
.person,
.heart,
.dog {
  display: inline-block;
  border: 2px #deebff;
  padding: 8px;
  border-radius: 50%;
  background-color: #deebff;
  width: 21px;
  height: 21px;
  align-content: center;
  transform: scale(1.2);
  /** Scale : ZOOM the element 

  */
}

.circle {
  border: 2px solid #f2f2f2;
  color: #0065fc;
  padding: 8px;
  border-radius: 50%;
  width: 5px;
  height: 5px;
}

#info i {
  font-size: 5px;
  width: 5px;
  height: 5px;
  text-align: center;
  line-height: 5px;
  border-radius: 5px;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.initial {
  -webkit-flex: initial;
  flex: initial;
  width: 200px;
  min-width: 100px;
}

.fill {
  object-fit: fill;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  text-align: justify;
  overflow: hidden;
}

.column1of3,
.column2of3,
.column3of3 {
  justify-content: center;
  width: 300px;
  height: auto;
  display: flex;
  line-height: 5px;
  margin-top: 10px;
  flex-direction: column;
  justify-content: left;
  text-align: justify;
}

@media (max-width: 600px) {
  nav li {
    display: inline;
  }
}
