/*Main Elements of the page */
#bloc_page {
  width: 60%;
  margin: auto;
}

@font-face {
  font-family: "Raleway";
  src: url("Fonts/Raleway-VariableFont_wght.ttf") format("truetype"),
    url("Fonts/Raleway-Regular.ttf") format("truetype"),
    url("Fonts/Raleway-Light.ttf") format("trutype");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: "Raleway";
  position: relative;
  margin: 0;
  height: auto;
  min-height: 100%;
}

h1 {
  font-size: 1em;
  font-weight: bold;
}

h2 {
  font-size: 0.8em;
  font-weight: bold;
  font-family: "Raleway-VariableFont_wght";
}

h3 {
  padding-left: 5%;
  font-size: 0.7em;
  font-weight: bold;
  font-family: "Raleway-VariableFont_wght";
}

h4 {
  padding-left: 5%;
  font-size: 0.7em;
  font-weight: bold;
  text-align: justify;
  font-family: "Raleway-VariableFont_wght";
}

h5 {
  font-size: 0.9em;
  font-weight: normal;
  font-family: "Raleway-VariableFont_wght";
}

h6 {
  font-size: 0.9em;
  font-weight: normal;
  font-family: "Raleway-VariableFont_wght";
}

p {
  padding-left: 5%;
  font-size: 0.8em;
  font-family: "Raleway-VariableFont_wght";
}

label {
  display: block;
  font-family: "Raleway";
}

ul i {
  color: #0065fc;
  margin: 0;
}

.button {
  text-align: left;
  margin-left: 2px;
  letter-spacing: 1px;
  cursor: pointer;
  align-content: center;
  font-size: 0.9em;
}

.button:hover {
  border-width: 1px;
}

.button:active {
  background: transparent;
  color: white;
}

.link {
  cursor: pointer;
}

.p {
  line-height: 15px;
  color: black;
  font-size: 0.4em;
  font-family: "Raleway";
}

a visited {
  text-decoration: none;
  color: black;
}

/*Menu navbar */

header {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: baseline;
  width: 100px;
  height: 50px;
  position: absolute;
  top: 8px;
  left: 0;
}

.navbar {
  margin-left: auto;
  justify-content: flex-end;
  margin-bottom: 10px;
}

nav {
  display: flex;
  flex-grow: 1;
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  padding-top: 0.7em;
}

nav a:hover {
  border-top: solid 2px #0065fc;
  padding-top: 0.7em;
  align-items: center;
}

.todo {
  color: black;
}

nav a {
  text-align: center;
  font-size: 1em;
  text-decoration: none;
  padding: 15px 15px;
  background-color: #fff;
  color: #0065fc;
}

nav a:hover,
a:active {
  cursor: pointer;
  color: black;
}

a.link {
  width: 100%;
  object-fit: cover;
  text-decoration: none;
  color: black;
}

a.button {
  display: inline-block;
  align-self: center;
}

.Trouvez_votre_hébergement {
  align-content: flex-start;
  line-height: 10px;
}

/*Element location rechercher */
.location {
  display: flex;
  justify-content: left;
}

.button1 {
  background-color: #0065fc;
  font-family: "Raleway";
  font-weight: bold;
  border: none;
  color: white;
  padding: 6px;
  text-align: left;
  display: inline-block;
  width: 85px;
  font-size: 0.7em;
  border-radius: 0px 5px 5px 0px;
}

.button1 a:hover,
a :disabled {
  cursor: pointer;
  color: black;
}

.mapmarker {
  display: flex;
  justify-content: center;
  padding: 3px;
  width: 18px;
  height: 18px;
  align-content: center;
  background-color: #f2f2f2;
  border-radius: 5px 0px 0px 5px;
}

#Rechercher {
  font-weight: bold;
  padding: 3px;
  display: inline-block;
  border-color: #f2f2f2;
  width: 120px;
  font-size: 0.7em;
  border-radius: 0px 0px 0px 0px;
}

/*Element Filters */
.filter {
  display: flex;
  align-items: center;
  align-content: flex-start;
  gap: 15px;
  margin-top: 10px;
}

.nopadding {
  padding: 0;
}

.element {
  background-color: #f2f2f2;
  border-radius: 25px;
  margin: 20px;
  padding: 10px 10px;
  width: 100px;
  height: 100px;
  box-sizing: content-box;
  display: block;
}

.ul {
  display: flex;
  justify-content: left;
  margin-top: 0;
  position: relative;
  list-style: none;
}

/*Filters*/
ul.filters {
  display: flex;
  gap: 25px;
}

ul.filters li {
  display: flex;
  gap: 25px;
  white-space: nowrap;
}

ul.filters li a {
  flex-grow: 1;
  gap: 25px;
}

ul.filters {
  text-align: center;
}

.item1 {
  font-family: raleway;
}

.item1 li {
  list-style-type: none;
  text-align: center;
  border: solid #f2f2f2 2px;
  border-radius: 20px;
}

.item1 a {
  flex-wrap: wrap;
  gap: 2px;
  display: block;
  padding: 3px;
  text-decoration: none;
  color: black;
}

.item1 a:hover {
  align-items: center;
  color: #0065fc;
}

.moneybill,
.person,
.heart,
.dog {
  display: inline-block;
  border: 2px #deebff;
  padding: 8px;
  border-radius: 50%;
  background-color: #deebff;
  width: 21px;
  height: 21px;
  align-content: center;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.moneybill :hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.person :hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.heart :hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.dog :hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/*Info*/
.info {
  margin-top: 5px;
  margin-bottom: 5px;
}

.infocircle {
  color: #0065fc;
  background-color: #fff;
  border: 2px solid #f2f2f2;
  font-size: 10px;
  padding: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  text-align: center;
  border-width: 2px;
  border-color: #f2f2f2;
  display: inline-block;
}

#info i {
  font-size: 5px;
  width: 5px;
  height: 5px;
  text-align: center;
  line-height: 5px;
  border-radius: 5px;
}

/*Section Hebergements*/
.big-container {
  display: flex;
  justify-content: space-between;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}

.initial {
  -webkit-flex: initial;
  flex: initial;
  width: 200px;
  min-width: 100px;
}

.fill {
  object-fit: fill;
}

/*Element Footer*/
footer {
  display: flex;
  min-width: 100%;
  background-color: #f2f2f2;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 10px;
  text-align: center;
}

.containerfooter {
  width: 100%;
  max-width: 900px;
  padding: 0 15px;
  display: flex;
  margin: auto;
  align-content: space-between;
}

.column1of3,
.column2of3,
.column3of3 {
  justify-content: space-around;
  width: 280px;
  height: auto;
  display: flex;
  line-height: 3px;
  margin-top: 10px;
  margin-left: 0;
  flex-direction: column;
  justify-content: left;
  text-align: justify;
}

.p a:hover {
  color: black;
  text-decoration: none;
}

.big-container {
  display: flex;
}
