#bloc_page {
  width: 60%;
  margin: auto;
}
@media screen and (max-width: 780px) {
  #bloc_page {
    margin: auto;
    width: 98%;
  }
}

* {
  outline: solid 1px black;
}

@font-face {
  font-family: "Raleway";
  src: url("Fonts/Raleway-VariableFont_wght.ttf") format("truetype"),
    url("Fonts/Raleway-Regular.ttf") format("truetype"),
    url("Fonts/Raleway-Light.ttf") format("trutype");
  font-style: normal;
  font-weight: normal;
}

.logo {
  width: 50px;
  height: 46px;
}

body {
  font-family: "Raleway-VariableFont_wght";
  position: relative;
  margin: 0;
  height: auto;
  min-height: 100%;
}

h1 {
  font-size: 1em;
  font-weight: bold;
}

h2 {
  font-size: 0.9em;
  font-weight:bold;
  font-family: "Raleway-VariableFont_wght";
}

h3 {
  font-size: 0.7em;
  font-weight: bold;
}

h4 {
  font-size: 0.6em;
  font-weight: bold;
  text-align: justify;
}

p {
  font-size: 0.7em;
  font-family: "Raleway-VariableFont_wght";
}

label {
  display: block;
  font-family: "Raleway";
}

ul i {
  color: #0065fc;
  margin: 0;
}
 
.button {
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  align-content: center;
  font-size: 0.8em;

}

.button:hover {
  border: 0px solid black;
}

.button:active {
  background: transparent;
  color: white;
}

.link {
  cursor: pointer;
}

.p {
  line-height: 20px;
  color: black;
  font-size: 0.4em;
  font-family: "Raleway";
}

a visited {
  text-decoration: none;
  color: black;
}

.todo{
  color: black;
} 

nav {
  position: inherit;
  float: right;
  font-size: 1em;
}

nav {
  text-decoration: none;
  display: flex;
  text-align: center;
  padding-top: 0.09em;
}

a.link {
  text-decoration: none;
  color: black;
}

a.button {
  border-radius: 0px 10px 10px 0px;
  
}

.filter {
  display:flex;
 
  
}

.element {
  background-color: #f2f2f2;
  border-radius: 25px;
  margin: 20px;
  padding: 10px 10px;
  width: 100px;
  height: 100px;
  box-sizing: content-box;
  display: block;
}

.ul {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  position: relative;
  list-style: none;
  margin-left: 10px;
  padding-left: 2px;
}

#nav {
  position: fixed;
  right: 0;
  top: 50%;
  width: 8em;
  margin-top: -2.5em;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-items: center;
}

nav li {
  margin-right: 15px;
}

nav a {
  text-align: center;
  font-size: 1em;
  text-decoration: none;
  background-color: #fff;
  color: #0065fc;
}

nav a:hover,
a:active {
  cursor: pointer;
  background-color: white;
  color: black;
}

.location {
  display: flex;
  justify-content: left;  
}

.button1 {
  background-color: #0065fc;
  font-family:"Raleway";
  font-weight: bold;
  border: none;
  color: white;
  padding: 6px;
  text-align: left;
  display: inline-block;
  width: 85px;
  font-size: 0.7em;
  border-radius: 0px 5px 5px 0px;
}
.mapmarker{
  padding: 3px;
  background-color: #f2f2f2;
  border-radius: 5px 0px 0px 5px;
} 

#Rechercher {
  font-weight: bold;
  padding: 4px;
  display: inline-block;
  border-color: #f2f2f2 ;
  width: 120px;
  font-size: 0.7em;
  border-radius: 0px 0px 0px 0px;
}

.relative {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content: center;
  flex-wrap: wrap;
  top: 5%;
  background-color: #f2f2f2;
  border-radius: 10px;
  width: 65%;
  height: 60%;
  padding: 10px;
  position: relative;
}

.hotel {
  border: white solid 4px;
  background-color: white;
  border-radius: 20px;
  margin: 0.5em;
  width: 25%;

}

.hotel img {
  width: 150px;
  display: flex;
  align-items: center;
}

img.rounded-corners {
  border-radius: 15px 15px 0px 0px;
}

.section {
  float: left;
  width: 50%;
}

.item1 {
  font-family: raleway;
}

.item1 li {
  display: block;
  width: 150px;
  float: left;
  margin-left: 2px;
  text-align: center;
  border-color: #f2f2f2;
}

.item1 a {
  flex-wrap: wrap;
  gap: 5px;
  display: block;
  padding: 3px;
  text-decoration: none;
  background-color: white;
  color: black;
}

.item1 a:hover {
  align-items: center;
  color: #0065fc;
}

.moneybill,
.person,
.heart,
.dog {
  display: inline-block;
  align-content: flex-start;
  border: 2px #DEEBFF;
  padding: 4px;
  border-radius: 50%;
  background-color: #DEEBFF;
}

.box {
  flex: 1.2;
  position: absolute;
  left: 62%;
  right: 10%;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-right: 5px;
  width: 18%;
  top: 17.4%;
  height: 400px;
  justify-content: left;
 }

.frameside{
  display: flex;
  flex-wrap:wrap;
  flex-direction: space-between;
  width: 30%;
  
}

.one {
  border: #f2f2f2 solid;
  border-style: solid;
  background-color: white;
  border-radius: 20px;
  margin: 0.6em;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items:center;
  text-align:left;
  box-shadow: 3px 3px 3px lightgray;
}

.two {
  border: #f2f2f2 solid 2px;
  border-style: solid;
  background-color: white;
  border-radius: 15px;
  margin: 0.6em;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  text-align: left;
  box-shadow: 3px 3px 3px lightgray;
}

.three {
  border: #f2f2f2 solid 2px;
  border-style: solid;
  background-color: white;
  border-radius: 15px;
  margin: 0.6em;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  text-align: left;
  box-shadow: 3px 3px 3px lightgray;
}

img.corner {
  border-radius: 15px 0px 0px 15px;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.after-box {
  clear: left;
}

.container {
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items:flex-start;
}

.initial {
  -webkit-flex: initial;
  flex: initial;
  width: 200px;
  min-width: 100px;
}

.Activités{
  display: flex;
  flex-direction:row;
  justify-content:space-around;
  align-content: center;
}

.vieux {
  border: #f2f2f2 solid 2px;
  border-style: solid;
  background-color: white;
  border-radius: 20px;
  margin: 0.6em;
  box-shadow: 3px 3px 3px lightgray;
  position: relative;
}

.imagebox {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.tovisit{
  display: inline-block;

}


.fort {
  border: #f2f2f2 solid 2px;
  border-style: solid;
  background-color: white;
  border-radius: 20px;
  margin: 0.6em;
  box-shadow: 3px 3px 3px lightgray;
  position: relative;
}

.ile {
  border: #f2f2f2 solid 2px;
  border-style: solid;
  background-color: white;
  border-radius: 20px;
  margin: 0.6em;
  box-shadow: 3px 3px 3px lightgray;
  position: relative;
}

.notre {
  border: #f2f2f2 solid 2px;
  border-style: solid;
  background-color: white;
  border-radius: 20px;
  margin: 00.6em;
  box-shadow: 3px 3px 3px lightgray;
  position: relative;
}

.parc {
  border: #f2f2f2 solid 2px;
  border-style: solid;
  background-color: white;
  border-radius: 20px;
  margin: 00.6em;
  box-shadow: 3px 3px 3px lightgray;
  position: relative;
}

.fill {
  object-fit: fill;
}

.aside {
  float: right;
  width: 25%;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #f2f2f2;
  border: 5px solid #f2f2f2;
  padding: 50px 0;
  text-align: justify;
}

.column1of3,
.column2of3,
.column3of3 {
  justify-content: center;
  width: 300px;
  float: left;
  justify-content: space-around;
  text-align: left;
}

@media (max-width: 600px) {
  nav li {
    display: inline;
  }
}

.stars {
  display: flex;
}

.stars img {
  width: 30px;
}

.star {
  font-size: 10px;
}

.filled {
  color:#0065fc;
}

.empty{
  color: grey;
}